<!doctype.hml>
<head>
  <title>Simulate DH</title>
</head>
<body>
  <div class="welcoming">
    <h1>Welcome to the simulator!</h1>
    <h3>Please specify what thou desires to be simulated</h3>
  </div>
  <div class="options">
    <form action="/baystate" method="POST">
      <p>What day is it today</p>
      <input type="text" name="day" value="" maxlength="40">
      <p>What time is it today</p>
      <input type="text" name="time" value = "">
      <button type="submit" class="btn submit">simulate</button>
    </form>
  </div>
</body>
